body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d10ca6;
    padding: 10px 20px;
    color: white;
}

nav .logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.heading-title {
    text-align: center;
    padding: 20px;
    color: rgb(24, 24, 24);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title,
.item-content,
.checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.title-right,
.content-right {
    display: flex;
    gap: 20px;
}

.movie-title img {
    border-radius: 8px;
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.quantity button {
    margin: 0 5px;
}

.total-sum {
    text-align: right;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #d10ca6;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.checkout-btn:hover {
    background-color: #d10ca6;
}

footer {
    background-color: #d10ca6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .footer-logo img {
    height: 40px;
}

footer .footer-text {
    margin-top: 10px;
}

footer .copy {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    .nav-links li a {
        width: 100%;
        display: block;
    }

    .menu-icon {
        display: block;
    }

    .title,
    .item-content,
    .checkout {
        flex-direction: column;
        text-align: center;
    }

    .title-right,
    .content-right {
        flex-direction: column;
        gap: 10px;
    }

    .total-sum {
        text-align: center;
    }
}