body {
    background-color: rgb(15, 13, 13);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
}

/* Header Navigation */
.header-main {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 1000;
    padding-left: 120px;
    justify-content: space-between;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 30px;
    display: flex;    
}
.header-main-logo img {
    height: 35px;
    align-self: center;
    padding-top: 10px;  
    padding-right: 16px;
}
.header-main-div {
    width: 2px;
    height: 30px;
    border-radius: 2px;
    background: #7a7a7d;
    align-self: center;
    margin-left: 25px;
}
.header-main-nav-left {
    width: fit-content;
    height: 100%;
    
}
#nav-menu,
.header-main-nav-left ul {
    list-style: none;   
    margin-left: 8px;
    margin-right: 40px;
    margin-top: 20px;
}
.header-main-nav-left ul li {
    display: inline;
    float: left;
}
.header-main-nav-left ul li a {
    padding: 0 5px;
    color: #cbccd1;
    font-weight: bold;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 100%;
}
.header-main-nav-right {
    width: fit-content;
    height: 100%;
    padding-right: 15%;
    display: flex;
    align-items: center;
    column-gap: 17px;
    margin-right: 60px;
}  
.header-main-nav-right-cart {
    background-image: url('images/shopping-cart.png');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-main ul li a:hover {
    color: #D10CA6;
}

/* Collapsible Menu icon */
.top-nav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    display: none;
  }
  .top-nav #menu-list {
    display: none;
    width: 100%;
  }
  
  .top-nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  }
  
  .top-nav a .icon {
  background-color: white;
  display: block;
  position: absolute;
  }
  
  .top-nav a:hover {
  color: rgb(245, 241, 241);
  }
  
  .active {
  background-color: #04AA6D;
  color: white;
  }


/* For mobile phones */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
   .header-main .header-main-logo {
        width: 40px;
    }
    .header-main-div {
        display: none;
    }
    .header-main-nav-right {
        display: flex;
    }
    .header-main-nav-right-cart {
        display: flex;
        width: 17px;
        height: 17px;
    }
    .header-main-nav-left {
        display: none;
    }
    .header-main-nav-right .top-nav {
      display: flex;
      position: relative;
    }
    .top-nav a:hover {
      background-color: #D10CA6;
      color: rgb(4, 4, 4);
    }
    .top-nav {
      background-color: transparent;
      margin-right: 45px;
    }
    .top-nav a {
      color: rgb(84, 84, 84);
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    #menu-list {
      background-color: white;
      margin-top: 85%;
      display: block;
      position: relative; 
    }
    .container {
        width: 520px;
        display: block;
        position: absolute;
        margin-left: 30px;
    }
    .title .item {
        display: none;
    }
    .title .title-right {
        display: none;
    }
    .container .title {
       display: none;
    }
    .container .item-content hr {
        width: 90%;
    }
    .container .item-content .movie-title img {
        padding-top: 40px;
    }
    .container hr {
        margin-top: 20px;
    }
    .container .checkout {
        display: flex;
        position: relative;
        margin-left: 14px;
    }
    .container .item-content .content-right {
        display: none;
    }
    .checkout .checkout-btn {
        display: flex;
        position: relative;
        width: 80%;
        margin-left: 185px;
        padding: 10px 10px;
    }
   
  }

  /*Main section */
.heading-title {
    margin-left: 10%;
    margin-top: 100px;
    justify-content: space-between;
    width: 100%;
}
.heading-title h2 {
    justify-content: space-between;
    align-items: center;
    margin-left: 2px;
}
h2 span {
    color: #D10CA6;
    font-size: 18px;
    margin-left: 15px;
}

h3 {
    font-size: 15px;
    font-weight: light bold;
    margin-left: 80px;
    padding-right: 40px;
}

.title {
    display: flex;
    position: relative;
    float: left;
    padding-top: 20px;
    width: 80%;
    margin-left: -75px;
}
.title .pay-with h3{
    padding-right: 200px;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
}
.title-right {
    display: flex;
    position: relative; 
    width: 500px; 
    margin-top: 20px; 
}
.title-right .paypal .payment-method{
    background-color: #282528;
    font-size: 15px;
    color: #7a7b7d;
    border-style: none;
    padding: 6px 15px;
    border-radius: 10px;
    margin-right: 10px;
    width: 100px;
}
.title-right .credit-card .payment-method{
    background-color: #D10CA6;
    color: white;
    border-style: none;
    padding: 6px 15px;
    border-radius: 10px;
    margin-right: 10px;
    width: 100px;
}
.title-right .total-price h3 {
    width: 100px;
    margin-top: -1px;
}
hr {
    display: flex;
    position: absolute;
    margin-top: 20px;
    width: 80%;
    color: #7a7a7d;
    width: 520px;
}
.item-content {
    padding-right: 50px;
    float: left;
    display: flex;
    position: relative;
    width: 80%;
}
.checkout {
    float: left;
    margin-top: 80px;
    margin-left: -940px;
}
.saved-button {
    width: 100%;
}
.saved-button .profile {
    background-color: #810867;
    color: rgb(115, 112, 112);
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: -10px;
}
.saved-button h6 {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #7a7a7d;
}
.total-price {
    margin-left: 650px;
    margin-top: -150px;
    align-items: center;
    margin-bottom: 40px;
}
.total-price p {
    font-size: 12px;
    font-weight: lighter;
}
.total-sum {
    margin-left: 650px;
    background-color: white;
    color: #282528;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 28px;
    
}
.total-sum span {
    color: #D10CA6;
}
.confirm-payment {
    float: left;
    margin-left: -940px;
    margin-top: 630px;
}
.checkout-btn {
    background-color: #D10CA6;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 8px 10px;
    margin-bottom: 50px;
}
.confirm-payment button {
    font-weight: bold;
    font-size: 15px;
    padding: 16px 20px;
    border-radius: 20px;
}
.form {
    display: flex;
    position: absolute;
    margin-top: 200px;
    margin-left: 135px;
}
.form h2 {
    font-size: 20px;
    font-weight: lighter;
}
form {
    display: block;
    position: absolute;
    margin-top: 50px;
}
input[type=text] {
    margin-bottom: 20px;
    width: 500px;
    border-radius: 5px;
    padding: 12px;
    background-color: transparent;
    outline: none;
    border-style: solid;
}
label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #322f32;
}

form label .container input[type=checkbox]{
    margin-left: 30px;
}