
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
}
.container img {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 100%;
    filter: brightness(20%);
    font-family: 'Poppins, Arial, Helvetica, sans-serif';
}
.container .content {
    display: block;
    position: absolute;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-left: 40px;
}

.content .heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    align-items: center;
    display: flex;   
}
.content .heading span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    color: #D10CA6;    
}
.content .sub-heading {
    font-size: 13px;
    font-weight: 5%;
    text-align: center;   
}
.content .watch-button {
    background: #D10CA6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    width: 170px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
.watch-button a {
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
}    
.watch-button:hover {
    background-color: white;
    color: #D10CA6;
    
}
.watch-button a:hover {
    color: #D10CA6;
}

 /* Decrease text size */
 @media only screen and (max-width: 600px) {
    .content .heading {
      font-size: 20px;
      width: 400px;
      height: 450px;
      margin-left: 120px;
    }
    .content .sub-heading {
      font-size: 11px;
      width: 350px;
      margin-left: 80px;
    }
    .content .heading span {
        font-size: 80px;
        display: flex;
    }
    .content {
        display: block;
        position: relative;
        align-items: center;
    }
    .content .watch-button {
       margin-left: -30px;
    }
  }


