body {
    background-color: rgb(15, 13, 13);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
}

/* Header Navigation */
.header-main {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 1000;
    padding-left: 120px;
    justify-content: space-between;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 30px;
    display: flex;    
}
.header-main-logo img {
    height: 35px;
    align-self: center;
    padding-top: 10px;  
    padding-right: 16px;
}
.header-main-div {
    width: 2px;
    height: 30px;
    border-radius: 2px;
    background: #7a7a7d;
    align-self: center;
    margin-left: 25px;
}
.header-main-nav-left {
    width: fit-content;
    height: 100%;
}
#nav-menu,
.header-main-nav-left ul {
    list-style: none;   
    margin-left: 8px;
    margin-right: 40px;
    margin-top: 20px;
}
.header-main-nav-left ul li {
    display: inline;
    float: left;
}
.header-main-nav-left ul li a {
    padding: 0 5px;
    color: #cbccd1;
    font-weight: bold;
    font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 100%;
}
.header-main-nav-right {
    width: fit-content;
    height: 100%;
    padding-right: 15%;
    display: flex;
    align-items: center;
    column-gap: 17px;
    margin-right: 60px;
}  
.header-main-nav-right-cart {
    background-image: url('images/shopping-cart.png');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-main ul li a:hover {
    color: #D10CA6;
}

/* Collapsible Menu icon */
.top-nav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    display: none;
  }
  .top-nav #menu-list {
    display: none;
    width: 100%;
  }
  
  .top-nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  }
  
  .top-nav a .icon {
  background-color: white;
  display: block;
  position: absolute;
  }
  
  .top-nav a:hover {
  color: rgb(245, 241, 241);
  }
  
  .active {
  background-color: #04AA6D;
  color: white;
  }
 /* For tablets */
 @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  /* For desktop */
  @media only screen and (min-width: 768px) { 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

   /* For mobile phones */
   @media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
   .header-main .header-main-logo {
        width: 40px;
        padding-left: 3px;
        padding-top: 5px;
    }
    .header-main .header-main-logo img {
      width: 90px;
      height: 35px;
    }
    .header-main-div {
        display: none;
    }
    .header-main-nav-right {
        display: flex;
    }
    .header-main-nav-right-cart {
        display: flex;
    }
    .header-main-nav-left {
        display: none;
    }
    .header-main-nav-right .top-nav {
      display: flex;
      position: relative;
    }
    .top-nav a:hover {
      background-color: #D10CA6;
      color: rgb(4, 4, 4);
    }
    .top-nav {
      background-color: transparent;
      margin-right: 45px;
    }
    .top-nav a {
      color: rgb(72, 69, 69);
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    #menu-list {
      background-color: #eaeaf2;
      margin-top: 85%;
      display: block;
      position: relative; 
    }
    .heading-title h1 {
      font-size: 25px;
      margin-left: -75%;
      margin-top: 3px;
    }
    .content {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      margin-left: -15%; 
    }
    .col-5 {
      width: 100%;
    }
    .col-2 {
      width: 100%;
    }
    .content .story .logo img {
      padding-top: 80px;
      width: 370px;
    }
    .content .story .story-text {
      padding-top: 300px;
      margin-left: 20%;
    }
    .mission .mission-text {
      padding-left: 47px;
      padding-top: 250px;
    }
    .mission .logo{
      display: none;
    }
    footer {
      padding-bottom: 40px;
    }
    footer .footer-copyright img {
      display: none;
    }
    h2 {
      display: flex;
      margin-left: -13%;
      justify-content: center;
    }

  }
    
/* About us section */
.heading-title {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 190px;
    margin-top: 100px;
}
.heading-title h1 {
    padding-top: 10px;
    font-size: 40px;
    padding-left: 350px;
}
.content {
    width: 100vh;
    height: auto;
    
}
.story {
    padding-top: 170px;
    margin-left: 5%;
    justify-content: space-between;
}
.story .logo img {
    width: 300px;
    display: flex;
    position: relative;
    margin-left: 140px;
    padding-top: 100px;
}
.story .story-text {
    display: flex;
    position: absolute;
    height: auto;
    margin-left: 610px;
    width: 440px;
}
.story .story-text h2 {
    display: flex;
    position: absolute;
    padding-top: 50px;
    width: 500px;
}
.story .story-text p {
    width: fit-content;
    justify-content: center;  
    align-items: center; 
    padding-top: 100px;
    font-weight: lighter;
    font-size: 15px;
}
.story .story-text p span {
    color: #D10CA6;
    font-weight: bold;
}

/* Mission section */
.row-2 .mission {
    margin-left: 15%;
    justify-content: space-between;
}
.mission .logo img {
    width: 300px;
    display: flex;
    position: relative;
    margin-top: 620px;
    margin-left: 470px;
    padding-left: 80px;
}
.mission .mission-text {
    display: flex;
    position: absolute;
    height: auto;
    margin-left: 140px;
    margin-top: 420px;
    width: 420px;
    
}
.mission .mission-text h2 {
    display: flex;
    position: absolute;
    padding-top: 50px;
    width: 500px;
}
.mission .mission-text p {
    width: fit-content;
    justify-content: center;  
    align-items: center; 
    padding-top: 100px;
    font-weight: lighter;
    font-size: 15px;
}
.mission .mission-text p span {
    color: #D10CA6;
    font-weight: bold;
}

 /* Footer section */
 footer {
  background-color: hsl(0, 1%, 69%);
   width: 100%;
   height: 190px;
   display: block;
   margin-top: 1200px;
   position: relative;
   align-items: center;
   justify-content: center;
   padding-top: 50px;
 }
 footer .footer-logo {
   display: block;
   position: relative;
   justify-content: center;
   margin-top: 10px;
 }
 .footer-logo img {
   width: 150px;
   height: 50px;
   margin-left: 44%;  
   padding-bottom: 50px; 
 }
 .footer-text {
   margin-left: 20%;
 }
 .footer-text p {
   float: left;
   color: #D10CA6;
   font-size: 11px;
   font-weight: bold;
   padding-left: 10px;
 }
 .footer-text img {
   width: 10px;
   height: 10px;
   margin-left: auto;
   padding-left: 60px;
   padding-top: 12px;
 }
 .footer-copyright img {
   position: absolute;
   margin-right: 40px;
   display: inline;
 }
 .footer-copyright p {
   color: #8e8e91;
   font-weight: dark;
   margin-left: 7%;
 }
   
  
  